body {
    background-color: azure;
  } 
  *{
      padding :0;
      margin: 0;
  }
  .lado{
    background-color: lightgray;
    height: 1000px;
    width: 250px;
    /* position: fixed; */
    z-index: 1;
  }
  .conteudo{
    /* background-color: lightgreen; */
  }
  .fakeimg {
      height: 200px;
      width: 200px;
      background: #aaa;
      text-align: center;
   
  
    }
    .img{
      height: 200px;
      width: 200px; 
     }

  
    .container{
      background-color: white;
    }
  /* .imagem{
    width: 300px;
    height: 700px;
  } */